
.field2{
  width: 25%;
  margin-left: 540px;
  margin-top: 25px;
  border: 1px solid rgba(136, 255, 0, 0.973);
  border-radius: 8.5px;
}


h2{
  text-align: center;
  color: blueviolet;
}

.field{
  margin-left: 400px;
}

